apiVersion: v1
kind: Service
metadata:
  name: REPLACE_SERVICE_NAME
  labels:
    app: REPLACE_SERVICE_NAME
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: REPLACE_SERVICE_NAME
