apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: dev-infra
spec:
  selector:
    app: redpanda
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: admin
      port: 9644
      targetPort: 9644
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda
  namespace: dev-infra
spec:
  selector:
    matchLabels:
      app: redpanda
  serviceName: redpanda
  replicas: 1
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
        - name: redpanda
          image: redpandadata/redpanda:v25.2.11
          args:
            - redpanda
            - start
            - --overprovisioned
            - --smp=1
            - --memory=512M
            - --reserve-memory=0M
            - --check=false
            - --node-id=0
            - --kafka-addr=PLAINTEXT://0.0.0.0:9092
            - --advertise-kafka-addr=PLAINTEXT://redpanda:9092
          ports:
            - containerPort: 9092
              name: kafka
            - containerPort: 9644
              name: admin
          readinessProbe:
            exec:
              command:
                [
                  "bash",
                  "-lc",
                  "rpk cluster health --watch=false --exit-when-healthy --api-urls=localhost:9644",
                ]
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /v1/status/ready
              port: 9644
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /var/lib/redpanda/data
      volumes:
        - name: data
          emptyDir: {}
